<link rel="stylesheet" href="create.css" />

<section id="create-section">
  <div id="create-teacher">
    <div class="create-title">
      <a><h1>Sual yarat</h1></a>
    </div>
    <div id="create-line"></div>

    <form
      action="{% url 'create_test' quiz_id %}"
      class="create-form"
      method="POST"
    >
      <label for="question_num">Sual nömrəsi: </label>
      <input
        required
        class="input"
        type="number"
        name="question_num"
        id="number"
        min="1"
        max="20"
      />

      <label for="question">Sual: </label>
      <textarea
        required
        class="textarea"
        name="question"
        id="question"
        cols="30"
        rows="5"
      ></textarea>

      <label for="option_1">Variant A: </label>
      <textarea
        required
        class="textarea"
        name="option_1"
        id="option_1"
        cols="30"
        rows="4"
      ></textarea>

      <div class="options">
        <label for="option_2">Variant B:</label>
        <textarea
          required
          class="textarea"
          name="option_2"
          id="option_2"
          cols="30"
          rows="4"
        ></textarea>
      </div>
      <div class="options">
        <label for="option_3">Variant C:</label>
        <textarea
          required
          class="textarea"
          name="option_3"
          id="option_3"
          cols="30"
          rows="3"
        ></textarea>
      </div>
      <div class="options">
        <label for="option_4">Variant D:</label>
        <textarea
          required
          class="textarea"
          name="option_4"
          id="option_4"
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div
        onmouseout="gone(this)"
        onmouseover="hover(this)"
        onclick="vol_opt_button()"
        class="vol_opt_but"
      >
        5-ci variantı artır <i class="fas fa-plus"></i>
        <div id="info">2 dəfə klikləyin.</div>
      </div>

      <div class="options vol_opt">
        <label for="option_4">Variant E:</label>
        <textarea
          class="textarea"
          name="option_5"
          id="option_5"
          cols="30"
          rows="4"
        ></textarea>
      </div>
      <label for="answer">Cavab: </label>
      <select name="answer" class="select_ans">
        <option class="opt" value="0">Seç:</option>
        <option class="opt" value="A">A</option>
        <option class="opt" value="B">B</option>
        <option class="opt" value="C">C</option>
        <option class="opt" value="D">D</option>
        <option class="opt new" value="E">E</option>
      </select>

      <div class="custom-select answer">
        <select name="answer">
          <option value="0">Seç:</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="D">E</option>
        </select>
      </div>

      <input class="input" id="create-button" type="submit" value="Yarat" />
    </form>
    <a href="{% url 'quiz_question' quiz_id %}" class="go-back">Geri</a>
  </div>
</section>
<script>
  function vol_opt_button() {
    const button = document.querySelector(".vol_opt_but");
    const vol_opt = document.querySelector(".vol_opt");
    const news = document.querySelector(".new");

    button.addEventListener("click", () => {
      vol_opt.classList.toggle("vol_opt_active");
      news.classList.toggle("new_act");
      document.getElementById("option_5").innerHTML = "";
      document.getElementById("option_5").placeholder =
        "Səhvən açdığınız təqdirdə boş saxlayın.";
    });
  }
  if (window.innerWidth > 420) {
    function hover(x) {
      document.getElementById("info").style.display = "initial";
    }
    function gone(x) {
      document.getElementById("info").style.display = "none";
    }
  }
</script>
<script>
  var x, i, j, selElmnt, a, b, c;
  /*look for any elements with the class "custom-select":*/
  x = document.getElementsByClassName("custom-select");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 1; j < selElmnt.length; j++) {
      /*for each option in the original select element,
      create a new DIV that will act as an option item:*/
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function (e) {
        /*when an item is clicked, update the original select box,
          and the selected item:*/
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function (e) {
      /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
  }
  function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x,
      y,
      i,
      arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i);
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }
  /*if the user clicks anywhere outside the select box,
  then close all select boxes:*/
  document.addEventListener("click", closeAllSelect);
</script>
<!-- <label class="container"
          >Düzgün cavab E-dir.
          <input
            type="checkbox"
            name="option_5_bool"
            id="option_5_bool"
            value="True"
          />
          <span class="checkmark"></span>
        </label> -->

<!-- <div class="custom-select answer">
        <select name="answer">
          <option value="0">Seç:</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="D">E seçilibsə</option>
        </select>
      </div> -->
